body {
  background-color: lightgray;   
  font-family: Arial, sans-serif;
}
header {
  background-color: navy;  /* header ka background navy blue hoga */
  color: white;            /* text white hoga */
  text-align: center;      /* heading aur paragraph center me aayenge */
  padding: 20px;           /* andar thoda space add hoga */
}

h1 {
    color: wheat;
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    text-shadow: 2px 2px 4px #aaa;
}
p {
    color: rgb(40, 197, 124);
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}
nav {
    background-color: #e81414;
    padding: 10px;
    alighn-items: center;
    text-align: center;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
