* {
    color: red;
}
div {
    color: green;
}
.Horsuna {
    color:black;
}
#tired {
    color:rgb(127, 127, 109);
    background-color: yellow;
}
.read,
.unread {
  color: white;
  background-color: black;
}
.read{
    background-color: gray;
    color:violet
    padding: 10px;
    margin: 10px;
}